---
const color = "#fff";
---

<div
  class="flex justify-center"
>
  <div
    class="bg-gradient shadow-inner flex flex-col justify-end w-full container pb-6 pt-2 px-5"
  >
    <div class="flex flex-row justify-center">
      <div>
        <div class="w-[200px] translate-y-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml-space="preserve"
            fill-rule="evenodd"
            stroke-line-join="round"
            stroke-miter-limit="2"
            clip-rule="evenodd"
            viewBox="0 0 1027 1200"
          >
            <path
              fill="url(#a)"
              fill-rule="nonzero"
              d="M646.84 1200c-74.3-20.94-318.58-100.1-490.32-347.01C-46.53 560.87 1.97 250.23 12.99 188.72 207.9 125.89 403 62.83 597.9 0a2994.63 2994.63 0 0 1 59.09 306c48.28 345.48 28.66 651.27-10.14 894Z"
            ></path>
            <path
              fill="url(#b)"
              fill-rule="nonzero"
              d="M1025.38 429.03c3.97 68.56 8.38 291.01-131.18 514.13A862.8 862.8 0 0 1 737.23 1129c-.66-.22-1.32-.44-2.2-.66 39.02-230.83 54.23-503.55 9.7-803.38a2538.12 2538.12 0 0 0-56.66-274.92c96.78 47.84 193.79 95.46 290.57 143.3a875.25 875.25 0 0 1 46.74 235.68Z"
            ></path>
            <defs>
              <linearGradient
                id="a"
                x1="0"
                x2="1"
                y1="0"
                y2="0"
                gradientTransform="rotate(-90 771.38 428.56) scale(1200.1)"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0" stop-color={color} stop-opacity="0"></stop>
                <stop offset=".03" stop-color={color} stop-opacity="0"></stop>
                <stop offset=".27" stop-color={color} stop-opacity=".2"></stop>
                <stop offset=".53" stop-color={color} stop-opacity=".5"></stop>
                <stop offset=".85" stop-color={color}></stop>
                <stop offset="1" stop-color={color}></stop>
              </linearGradient>
              <linearGradient
                id="b"
                x1="0"
                x2="1"
                y1="0"
                y2="0"
                gradientTransform="rotate(-90 993.33 135.85) scale(1078.67)"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset="0" stop-color={color} stop-opacity="0"></stop>
                <stop offset=".03" stop-color={color} stop-opacity="0"></stop>
                <stop offset=".27" stop-color={color} stop-opacity=".2"></stop>
                <stop offset=".53" stop-color={color} stop-opacity=".5"></stop>
                <stop offset=".85" stop-color={color}></stop>
                <stop offset="1" stop-color={color}></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
        <div>
          <h1 class="text-5xl font-extrabold text-white">
            Rzecznik Praw Studenta
          </h1>
          <h2 class="text-2xl text-white">
            Akademii Górniczo-Hutniczej w Krakowie
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .bg-gradient {
    background: linear-gradient(180deg, #222d7e 0%, #4a5de2 101%);
  }
</style>
